<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="style.css">
	<title></title>
</head>
<body class="container-fluid">
	<div id="main">
		<div class="row justify-content-md-center">
			<div class="col col-6" id="calendar">
				<div class="row" id="top">
					<div id="left-section">
						<div class="row" id="progressBar">
							<h1>Progress:
								<input style="display: inline; width:2.5em" type="number" placeholder="progress" min="0" :max="project.goal" v-model="project.progress" v-on:change="changeProgress()">
								/ <input style="display: inline;width:2.5em" type="number" placeholder="goal" :min="project.progress" v-model="project.goal" v-on:change="changeProgress()">
							</h1>
						</div>
						<h1>{{wMonth}} {{date}}, {{cDate.getFullYear()}}<br>
							Deadline: <input id="deadLine" type="date" :min="minDeadlineDate" v-model="project.deadlineDate" v-on:change="invDeadlineCheck(project.deadlineDate)" />
						</h1>
						<div class="form-group">
							<input id="calYear" type="number" placeholder="year" v-model="year" v-on:change="changeMonth()">
							<input id="calMonth" type="number" placeholder="month" v-model="month" v-on:change="changeMonth()">
						</div>
					</div>
					<div id="right-section">
						<h1 v-if="!nameInputActive" id="name" v-on:click="activateNameInput()"><b>{{project.name}}</b></h1>
						<div v-if="nameInputActive" class="input-group mb-3" id="nameInput">
							<input type="text" aria-describedby="basic-addon2" maxlength="70" class="form-control" id="nameInputId" placeholder="Project Name" v-model="project.name" v-on:focusout="changeName()" autofocus />
							<div class="input-group-append">
								<button class="input-group-text" id="basic-addon2">✓</button>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-bordered table-dark" id="table">
					<tr>
						<th v-for="day in days">{{day}}</th>
					</tr>
					<tr v-for="item in weeks">
						<td v-for="day in item" v-bind="{class: day.id}" v-on:click="markUnmark(day)" :id=day.date style="padding:.5rem">
							<div class="day">
								<b>{{day.date}}</b>
								<svg v-if="day.marked" width="40" height="40" style="position:relative;">
									<g stroke="red" stroke-width="5">
										<path d="M5 5 L35 35" stroke-linecap="round" />
										<path d="M35 5 L5 35" stroke-linecap="round" />
									</g>
								</svg>
								<p>{{day.dAv}}</p>
							</div>
						</td>
					</tr>
				</table>
				<h2 id="invDeadline">Invalid deadline</h2>
			</div>
			<div class="col col-3">
				<table class="table table-dark">
					<thead>
						<tr>
							<th colspan="2">Projects</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in projects" v-on:click="openProject(item)">
							<td v-if="item" class="col project">{{item.name}}</td>
							<td v-if="item" style="text-align: right" class="col">{{item.progress}}/{{item.goal}}</td>
						</tr>
						<tr>
							<td class="col">
								<button class="btn btn-success" v-on:click="addProject()">Add</button>
							</td>
							<td class="col">
								<button class="btn btn-danger" v-if="projects.length > 1" v-on:click="removeProject()">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>				
				<button class="btn btn-danger" v-on:click="resetData()">Reset</button>	
			</div>
		</div>
	</div>
</body>
<script src="vue.js"></script>
<script src="script.js"></script>
</html>
